<script setup lang="ts">
const num = 0;
const result = 0;
function plusNum(){
    num+num;
}
</script>
<template>
  <v-card style="background-color: darkcyan;">
  <v-container>
    <h1 style="text-align: center; color: aliceblue;">Calculator</h1>
    <v-row>
      <v-col>
        <v-card class="mx-auto my-8" max-width="344" elevation="16">
          <v-card-item>
            <v-card-title> Result </v-card-title>
          </v-card-item>

          <v-card-text style="text-align: right;">{{ num }}</v-card-text>
          <v-card-subtitle style="text-align: right;"> {{ result }} </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col> 
        <v-card style="background-color: cadetblue">
            <v-container>
                <v-row>
                    <v-col>
                        <v-btn>(</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>)</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>%</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>AC</v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-btn>7</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>8</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>9</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>÷</v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-btn>4</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>5</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>6</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>x</v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-btn @click="num++">1</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>2</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>3</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>-</v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-btn>0</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>.</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>=</v-btn>
                    </v-col>
                    <v-col>
                        <v-btn>+</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </v-col>
    </v-row>
  </v-container>
</v-card>
</template>
<style scoped>
color-Main{
    background-color: cadetblue;
}
</style>
